html {
	scroll-behavior: smooth;
}

* {
	font-family: "NT Wagner", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}


.splash-container {
    position: relative;
    height: 100vh;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: transform 0.5s ease-in-out;
}

.splash.hide {
    transform: translateY(-100%);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Distribuye uniformemente los elementos */
}

nav ul li {
    flex: 1; /* Cada elemento ocupa el 25% del ancho */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    transition: color 0.3s, font-size 0.3s; /* Transición de 0.3 segundos en color y tamaño de fuente */
}

nav ul li a:hover {
    text-decoration: none;
    color: #aee4b2;
    font-size: 1.2vw; /* Tamaño de fuente aumentado al hacer hover */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	cursor: none;
	/* background-color: red; */
	background-image: url("../img/fondo.jpeg");
	
}


.textLogo,
.mail {
	font-family: "NT Wagner", Arial, Helvetica, sans-serif;
	color: #aee4b2;
	/* text-align: center; */
}

.textLogo {
	font-size: 2vw;
	/* font-size: 4vw; */
}

.mail {
	/* margin-top: -200px; */
	font-size: 0.7vw;
	/* font-size: 1.4vw; */
}

.centered-text {
	text-align: center;
	color: white;
	/* font-size: 2vw; */
} 

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    overflow: hidden;
    z-index: -1; 
}

#video-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.inner-cursor {
	position:fixed;
	left: 10px;
	width: 10px;
	height: 10px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	mix-blend-mode: difference;
	pointer-events: none;
	transition: width 0.5s, height 0.5s;
}

.inner-cursor, .outer-cursor, .custom-text {
    position: fixed;
    z-index: 9999;
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: 0.1s;
    z-index: 10000; /* Ajustar el valor según sea necesario */
}


.logo {
	height: 3vw;
	width: 3vw;
	position: fixed;
    top: 0.3vw;
    right: 0.3vw;
	user-select: none;
	pointer-events: none;
}


.splash.display-none {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	z-index: -10;
	color: white;
	text-align: center;
	line-height: 90vh;
	transition: all 0.5s;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.splash.fade-out {
    opacity: 0;
    pointer-events: none; /* Deshabilita los eventos del mouse durante el desvanecimiento */
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
	font-family: "NT Wagner", Arial, Helvetica, sans-serif;
}

.slide-up {
    transform: translateY(-100%);
    pointer-events: none; /* Deshabilita los eventos del mouse durante el desplazamiento */
}

.separator {
    background-color: white;
    width: 100%;
	height: 15vw;
}

.title {
    color: white;
    text-align: center;
    font-size: 2rem; /* Tamaño del título */
    margin: 0; /* Elimina el margen predeterminado del título */
}

.primeraImagen,
.segundaImagen,
.terceraImagen,
.cuartaImagen,
.quintaImagen,
.sextaImagen {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

.primeraImagen {
    background-image: url("../img/fondo.jpeg");
}

.segundaImagen {
    background-image: url("../img/arturo.jpg");
}

.terceraImagen {
	background-image: url("../img/d_1.10.1.JPG");
}

.cuartaImagen {
	background-image: url("../img/fondo.jpeg");
}

.quintaImagen {
	background-image: url("../img/asdasd.png");
}

.sextaImagen {
	position: relative;
    width: 100%;
    height: 200vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
}

.custom-text {
    position: absolute;
    font-size: 14px;
	margin-top: -10px;
    pointer-events: none;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
	pointer-events: none;
	transition: width 1s, height 1s;
	font-family: "NT Wagner", Arial, Helvetica, sans-serif;
}

/* header img.logo {
	height: 3vw;
	width: 3vw;
	user-select: none;
	pointer-events: none;
} */

/* header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #161616;
	padding: 10px 0;
	z-index: 1000;
} */
/* 
nav {
	text-align: center;
	margin-top: 10px;
} */
/* 
nav {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100; 
} */

/* .intro {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	transition: 1s;
} */

