html {
    scroll-behavior: smooth;
    /* background-color: #aee4b2; */
}

* {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    box-sizing: border-box;
}

hr {
    border: 1.5px solid #aee4b2; /* Grosor y color del borde */
    margin: 3vh 0; /* Ajusta el espacio alrededor del hr según sea necesario */
}

.splash-container {
    position: relative;
    height: 100vh;
}

.imgAbout {
    width: 25vh;
    height: 25vh;
}

.splash {
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: transform 1s ease-in-out;
}

.splash.hide {
    transform: translateY(-100%);
}

.imageFooter {
    width: 1vw;
    height: 1vw;
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

nav {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    transition: color 0.3s, font-size 0.3s;
}

nav ul li.active a {
    color: #aee4b2;
    font-size: 1.2vw;
}

nav ul li a:hover {
    color: #aee4b2;
    font-size: 1.2vw;
}

.bodyIndex {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #aee4b2; */
    cursor: none;
}

.bodyAbout {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
    /* cursor: none;     */
}

.bodyProyecto1 {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
    /* cursor: none;     */
}

.textContainerProyecto1 {
    font-size: 2vh;
    width: 70%;
    text-align: justify;
}

.image1Proyecto1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.textLogo,
.mail {
    font-family: "NT Wagner", Arial, Helvetica, sans-serif;
    color: #aee4b2;
    /* text-align: center; */
}

.textLogo {
    font-size: 2vw;
    /* font-size: 4vw; */
}

.mail {
    /* margin-top: -200px; */
    font-size: 0.7vw;
    /* font-size: 1.4vw; */
}

.textApartados {
    font-size: 8vw;
    color: #aee4b2;
    /* font-size: 4vw; */
}

.contactoArriba {
    margin-top: 10vh;
    color: #f7e507;
    font-size: 2.3vw;
    /* width: 100vh; */
}

.contactoAbajo {
    margin-top: 10vh;
    color: #f7e507;
    font-size: 2vw;
    /* width: 100vh; */
}

.aboutTextContainer {
    margin-top: 10vh;
}

.aboutArriba,
.aboutMedio,
.aboutAbajo {
    color: #fff;
    font-size: 3vh;
    width: 70%;
    margin: 0 0 0 10vh;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #aee4b2;
    color: #fff;
    text-align: left;
    padding: 0 1% 0 1%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLeft, 
.footerRight {
    width: 50%;
}

.contactContainer {
    color: #fff;
    font-size: 3vh;
    margin: 15vh 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pequegnito p {
    width: 50%;
    text-align: justify;
    margin-left: 10vh; /* Puedes ajustar el valor del margen según tus preferencias */
}

.icono-correo,
.llamada-correo {
    height: 1.5em; /* Ajusta la altura según tus preferencias */
    width: auto; /* Mantén la proporción del ícono */
    vertical-align: middle; /* Centra la imagen verticalmente con respecto al texto */
    margin-right: 1vh; /* Ajusta el margen derecho según tus preferencias */
}

.centered-text {
    margin-top: 36vh;
    text-align: center;
    color: white;
    /* font-size: 2vw; */
} 

.centered-text1 {
    /* margin-top: 36vh; */
    text-align: center;
    color: white;
    /* font-size: 2vw; */
} 

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

#video-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #contenido {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: 10vh;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    background-image: url("../img/principal/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

#contenido1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

#contenido5 {
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

#contenido5 header {
    background-color: #aee4b2;

}

#contenido2 ul {
    position: absolute; 
    top: 0; 
    right: 0;
    margin-right: 1%;
}

.inner-cursor {
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 10001;
}

.inner-cursor, .outer-cursor, .custom-text {
    position: fixed;
}

.outer-cursor {

    margin-top: -10px;
    border: 1px solid #fff;
    mix-blend-mode: difference;
    pointer-events: auto; /* o intenta con 'all' */
    transition: 0.1s; /* Ajusta la duración de la transición */
    z-index: 10000;
}


.logo {
    height: 3vw;
    width: 3vw;
    position: fixed;
    top: 0.3vw;
    right: 0.3vw;
    user-select: none;
    pointer-events: none;
}


.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.splash.fade-out {
    opacity: 0;
    pointer-events: none; /* Deshabilita los eventos del mouse durante el desvanecimiento */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-family: "NT Wagner", Arial, Helvetica, sans-serif;
    z-index: 1; /* Asegura que el texto esté sobre el video */
}

.slide-up {
    transform: translateY(-100%);
    pointer-events: none; /* Deshabilita los eventos del mouse durante el desplazamiento */
}

.separator {
    background-color: white;
    width: 100%;
    height: 15vw;
}

.title {
    color: white;
    text-align: center;
    font-size: 2rem; /* Tamaño del título */
    margin: 0; /* Elimina el margen predeterminado del título */
}
.ceroImagen,
.primeraImagen,
.segundaImagen,
.quintaImagen,
.sextaImagen {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

.ceroImagen {
    background-image: url("../img/principal/fondo.jpeg");
}

.primeraImagen {
    background-image: url("../img/fondo.jpeg");
}

.segundaImagen {
    background-image: url("../img/about/Untitled_1.1.jpeg");
}

/* .cuartaImagen {
    background-image: url("../img/about/Untitled_1.9.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
} */


.quintaImagen {
    background-image: url("../img/about/4_1.2.jpeg");
}

.sextaImagen {
    background-image: url("../img/contact/dientes.jpeg");
}

.custom-text {
    position: absolute;
    font-size: 14px;
    margin-top: -10px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 1s, height 1s;
    font-family: "NT Wagner", Arial, Helvetica, sans-serif;
}

header img.logo {
    height: 3vw;
    width: 3vw;
    user-select: none;
    pointer-events: none;
}

/* position the navbar center right */
.navbar {
    position: fixed;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
}

/* style the individual nav items */
.navbar a {
    /* make them little circles */
    display: block;
    border-radius: 50%;
    border: 0.1vw solid white;
    width: 1vw;
    height: 1vw;

    /* with some space between them */
    margin: 0.5vw 0;

    /* hide the text content */
    overflow: hidden;

    /* establish positioning context for the ::after pseudo-elements (below) */
    position: relative;
}

/* the "fill" */
.navbar a::after {
    /* won't render without a 'content' rule */
    content: '';

    /* white fill */
    background-color: #fff;

    /* zero height until it's active */
    position: absolute;
    bottom: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    /* animate the height when it changes */
    transition: height 0.3s ease;
}

/* active and hovered elements */
.navbar a:hover::after,
.navbar a.active::after {
    /* change the height to 100%.
        the transition rule above will cause this to animate */
    height: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambia la dirección de la disposición a columna */
    align-items: flex-end; /* Alinea los elementos a la derecha dentro del contenedor */
}

.navbar ul li {
    margin-bottom: 1vw;
}


/* make the sections occupy the full screen height */
section {
    height: 100vh;
    background: tomato;
    color: bisque;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
}

.navbar {
    position: fixed;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    position: relative;
}

.section-name {
    display: none;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    text-align: right;
    padding-right: 1vw;
    transform: translateX(-100%) translateY(5.35vw); /* Alinea el texto a la derecha del círculo activo */
}
.navbar li.active .section-name {
    display: block;
}

/* Estilos para la versión móvil */
@media only screen and (max-width: 600px) {

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content:left;
    }

    nav ul li a {
        font-size: 3vw; /* Ajusta el tamaño de fuente para dispositivos móviles según sea necesario */
    }

    nav ul li a:hover {
        font-size: 3.5vw; /* Ajusta el tamaño de fuente al hacer hover en dispositivos móviles según sea necesario */
    }

    .inner-cursor,
    .outer-cursor,
    .custom-text {
        display: none;
        
    }

    .textLogo {
        font-size: 5vw;
        /* font-size: 4vw; */
    }
    
    .mail {
        /* margin-top: -200px; */
        font-size: 1.8vw;
        text-decoration: none;
        font-family: "NT Wagner", Arial, Helvetica, sans-serif;
        /* font-size: 1.4vw; */
    }

    .textContainerProyecto1 {
        font-size: 2vh;
        width: 90%;
        text-align: justify;
    }
}


.headerAbout {
    background-color: #000204;
    color: #aee4b2;
    /* text-align: center; */
    padding: 20px 0;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
}

.cactus-text {
    display: inline-block;
    padding-right: 20px; /* Ajusta el espacio entre las palabras */
    font-size: 1.5em;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.fila {
    display: flex;
}

.foto {
    width: calc(33.33%);
    overflow: hidden;
    position: relative;
}

.foto img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease; /* Transición tanto para transform como para filter */
}


.foto:hover .overlay-text {
    opacity: 1;
}

.foto:hover img {
    transform: scale(1.1);
    filter: brightness(70%); /* Puedes ajustar este valor para cambiar la luminosidad durante el hover */
}

.foto:not(:hover) img {
    transform: scale(1);
    filter: brightness(100%); /* Revertir el brillo al sacar el ratón */
}

.foto1 {
    width: calc(50%);
    overflow: hidden;
    position: relative;
}

.foto1 img,
.foto2 img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease; /* Transición tanto para transform como para filter */
}


.foto1:hover .overlay-text,
.foto2:hover .overlay-text {
    opacity: 1;
}

.foto1:hover img {
    transform: scale(1.1);
    filter: brightness(70%); /* Puedes ajustar este valor para cambiar la luminosidad durante el hover */
}


.foto2:hover img {
    /* transform: scale(1.05); */
    filter: brightness(70%); /* Puedes ajustar este valor para cambiar la luminosidad durante el hover */
}

.foto1:not(:hover) img,
.foto2:not(:hover) img {
    transform: scale(1);
    filter: brightness(100%); /* Revertir el brillo al sacar el ratón */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease;
}

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10001;
    overflow: hidden; /* Asegura que el video no se desborde del preloader */
}

.textContainerProyecto1 {
    padding-top: 100px;
    padding-bottom: 40px;

}

.hide {
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}