html {
    scroll-behavior: smooth;
    color: #f4f4de;

}

body {
    overflow-x: hidden;
}

:root {
    /* --color-fondo: #d9e9c7; */
    --color-fondo: #FF0000;
}

* {
    font-family: 'Alte Haas Grotesk', sans-serif;
    box-sizing: border-box;
}

::selection {
    background-color: var(--color-fondo); 
}

hr {
    border: 1.5px solid var(--color-fondo);
    margin: 3vh 0;
}

.splash-container {
    position: relative;
    height: 100vh;
}

.imgAbout {
    width: 25vh;
    height: 25vh;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: transform 1s ease-in-out;
}

.splash.hide {
    transform: translateY(-100%);
}

.imageFooter {
    width: 2.8vh;
    height: 2.8vh;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

nav {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5vh;
    transition: color 0.3s, font-size 0.3s;
}

nav ul li.active a {
    color: var(--color-fondo);
    font-size: 3vh;
}

nav ul li a:hover {
    color: var(--color-fondo);
    font-size: 1.2vw;
}

.navBarMomentos li a:hover,
.navBarProyectos li a:hover {
    color: white !important;
}

.bodyIndex {
    background-color: #0e1111;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none;
}

.bodyAbout {
    background-color: #0e1111;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.bodyProyecto1 {
    background-color: #0e1111;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.textContainerProyecto1 {
    font-size: 2vh;
    width: 70%;
    text-align: justify;
}

.image1Proyecto1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logoCactusTree {
    height: 3vh;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textLogo,
.mail {
    font-family: "Alte Haas Grotesk", Arial, Helvetica, sans-serif;
    color: var(--color-fondo);
}

.textLogo {
    font-size: 2vw;
}

.mail {
    font-size: 1.8vh;
}

.textApartados {
    font-size: 8vw;
    color: var(--color-fondo);
}

.contactoArriba {
    margin-top: 10vh;
    color: #f7e507;
    font-size: 2.3vw;
}

.contactoAbajo {
    margin-top: 10vh;
    color: #f7e507;
    font-size: 2vw;
}

.aboutTextContainer {
    margin-top: 10vh;
}

.aboutArriba,
.aboutMedio,
.aboutAbajo {
    color: #fff;
    font-size: 3vh;
    width: 70%;
    margin: 0 0 0 10vh;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: var(--color-fondo);
    color: #fff;
    text-align: left;
    padding: 0 1% 0 1%;
    bottom: 0;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLeft, 
.footerRight {
    width: 50%;
}

.contactContainer {
    color: #fff;
    font-size: 3vh;
    margin: 15vh 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pequegnito p {
    width: 50%;
    text-align: justify;
    margin-left: 10vh;
}

.icono-correo,
.llamada-correo {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: 1vh;
}

.centered-text {
    margin-top: 45vh;
    text-align: center;
    color: white;
    /* font-size: 2vw; */
} 

.centered-text1 {
    /* margin-top: 36vh; */
    text-align: center;
    color: white;
    /* font-size: 2vw; */
} 

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

#video-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

#contenido5 {
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

#contenido5 header {
    background-color: var(--color-fondo);

}

#contenido2 ul {
    position: absolute; 
    top: 0; 
    right: 0;
    margin-right: 1%;
}



.inner-cursor, .outer-cursor, .custom-text {
    position: fixed;
}

#cursorText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red; /* Color del texto */
    pointer-events: none; /* Para que el texto no afecte la interactividad */
}

.outer-cursor {
    margin-top: -10px;
    border: 1px solid #fff;
    mix-blend-mode: difference;
    pointer-events: auto;
    transition: 0.1s;
    z-index: 10000;
}

.logo {
    height: 6vh;
    width: 6vh;
    position: fixed;
    top: 0.3vh;
    right: 0.3vh;
    user-select: none;
    pointer-events: none;
    z-index: 999999;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.splash.fade-out {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-family: "NT Wagner", Arial, Helvetica, sans-serif;
    z-index: 1;
}

.slide-up {
    transform: translateY(-100%);
    pointer-events: none;
}

.separator {
    background-color: white;
    width: 100%;
    height: 15vw;
}

.title {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}
.ceroImagen,
.primeraImagen,
.segundaImagen,
.quintaImagen,
.sextaImagen {
    background-color: #0e1111;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
}

.ceroImagen {
    /* background-image: url("../img/fondo-index.jpeg"); */
    background-color: #0e1111;
}

.primeraImagen {
    background-image: url("../img/fondo.jpeg");
}

.segundaImagen {
    background-image: url("../img/moments/momento1.jpeg");
}

.quintaImagen {
    /* z-index: 1000000; */
    background-image: url("../img/about/4_1.2-min.jpeg");
}

.sextaImagen {
    z-index: 1000000;
    background-color: #0e1111;
}

.custom-text {
    font-size: 3vh;
    letter-spacing: 1vh;
    margin-top: -10px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 1s, height 1s;
    font-family: "Alte Haas Grotesk", Arial, Helvetica, sans-serif;
    z-index: 10;
}

.inner-cursor {
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 999999;
}

.navbar {
    position: fixed;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
}

.navbar a {
    display: block;
    border-radius: 50%;
    border: 0.1vw solid white;
    width: 2.2vh;
    height: 2.2vh;
    margin: 1vh 0;
    overflow: hidden;
    position: relative;
}

.navbar a::after {
    content: '';
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: height 0.3s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
    height: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container {
    position: relative;
    z-index: 9999999999999;

}

.navbar {
    position: fixed;
}

/* .navbar ul {
    list-style: none;
    padding: 0;
} */

/* .navbar li {
    position: relative;
} */

.section-name {
    display: none;
    white-space: nowrap;
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    text-align: right;
    padding-right: 2vh;
    transform: translateX(-100%) translateY(-3.3vh);
}

.navbar li.active .section-name {
    display: block;
}

/* Estilos para la versión móvil */
@media only screen and (max-width: 600px) {

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content:left;
    }

    nav ul li a {
        font-size: 3vw;
    }

    nav ul li a:hover {
        font-size: 3.5vw;
    }

    .inner-cursor,
    .outer-cursor,
    .custom-text {
        display: none;
        
    }

    .textLogo {
        font-size: 5vw;
        /* font-size: 4vw; */
    }
    
    .mail {
        /* margin-top: -200px; */
        font-size: 1.8vw;
        text-decoration: none;
        font-family: "NT Wagner", Arial, Helvetica, sans-serif;
        /* font-size: 1.4vw; */
    }

    .textContainerProyecto1 {
        font-size: 2vh;
        width: 90%;
        text-align: justify;
    }

    .logoCactusTree {
        height: 4vw;
    }

    .mail {
        font-size: 3vw;
    }

    .projects,
    .moments {
        width: 100%;
        box-sizing: border-box;
    }
    
    .fila {
        display: flex;
        flex-wrap: wrap;
    }
    
    .foto,
    .foto1 {
        width: 100%;
        box-sizing: border-box;
    }
    
    .foto img,
    .foto1 img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.5s ease, filter 0.5s ease;
    }

    .navbar {
        display: none;
    }

    .aboutArriba,
    .aboutMedio,
    .aboutAbajo,
    .contactContainer{
        display: none;
    } 
}

.headerAbout {
    background-color: #000204;
    color: var(--color-fondo);
    /* text-align: center; */
    padding: 20px 0;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
}

.cactus-text {
    display: inline-block;
    padding-right: 20px;
    font-size: 1.5em;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.fila {
    display: flex;
}

.foto {
    width: calc(100%);
    overflow: hidden;
    position: relative;
}

.foto img, .foto .imagen1-hover img {
    width: 100%;
    height: auto;
    display: block;
    /* transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease; */
}

.foto .imagen1-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.foto:hover .overlay-text {
    opacity: 1;
}

.foto:hover .imagen1 img {
    /* transform: scale(1.1);
    filter: brightness(70%); */
    opacity: 0;
}

.foto:hover .imagen1-hover {
    display: block;
    /* transform: scale(1.1);
    filter: brightness(70%); */
    opacity: 1;
}

.foto:not(:hover) img {
    /* transform: scale(1);
    filter: brightness(100%); */
    opacity: 1;
}

.foto1 {
    width: calc(100%);
    overflow: hidden;
    position: relative;
}

.foto1 img,
.foto2 img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}


.foto1:hover .overlay-text,
.foto2:hover .overlay-text {
    opacity: 1;
}

.foto1:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}


.foto2:hover img {
    /* transform: scale(1.05); */
    filter: brightness(70%);
}

.foto1:not(:hover) img,
.foto2:not(:hover) img {
    transform: scale(1);
    filter: brightness(100%);
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vh;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay-text-mid {
    top: 50% !important;
}

.overlay-text-small {
    font-size: 2.5vh; /* Tamaño de fuente más pequeño */
    position: absolute;
    color: white;
    top: 50%;
    text-align: center;
    width: 100%;
}

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10001;
    overflow: hidden;
    background-color: #fff;
}

#preloader.hide {
    display: none;
}

#granulado-container {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

section {
    height: 100vh;
    background: #0e1111;
    color: bisque;
    display: grid;
    place-items: center;
}

.textContainerProyecto1 {
    padding-top: 100px;
    padding-bottom: 40px;

}

.hide {
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

.textGlossy {
    font-family: "glossy personal use", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    text-align: center;
}

#Home {
    background-image: url(./img/parallax_prueba/background.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #Home h1 {
    color: red;
    position: absolute;
    font-size: 50px;
    z-index: 2;
    margin-top: 10px;
  }
  #Home img {
    position: absolute;
    bottom: 0px;
  }
  #Mountain1 {
    position: absolute;
    margin-bottom: 106px;
    margin-left: 60px;
    width: 100%;
    pointer-events: none;
  }
  #Mountain2 {
    width: 100%;
    z-index: 3;
    pointer-events: none;
  }
  #leftCloud,
  #mainCloud,
  #rightCloud {
    top: 120px;
    width: 200px;
  }
  #leftCloud {
    left: 20px;
  }
  #rightCloud {
    right: 20px;
  }